<article class="listing">
  <h3>{{book.title}}</h3>
  <div>
    <span class="darkPrimaryColor">Autor:</span> {{book.author}}
  </div>
  <div class="detail type">
    <span>Proprietário:</span> {{book.owner}}
  </div>
</article>
