<div class="">
  <div class=""></div>
  <h2>Sobre o Cult</h2>
  <p>
    O Cult foi um projeto criado com o intuito de aprender o Framework Ember mas
    gerando algum tipo de utilidade para os tripulantes da Creditas
  </p>
  <p>
    A idéia do projeto é garantir um compartilhamento de livros de forma segura e fácil.
    Todos fazemos nariz torto quando alguém pede um livro emprestado porque muitas vezes
    nossos livros não são devolvidos
  </p>
  <p>
    Através do Cult, conseguiremos mostrar para todos os tripulantes quais livros temos à
    disposição e conseguir ao mesmo tempo, rastrear para quem emprestamos o livro.
  </p>

  {{#link-to 'contact' class='button'}}
    Contato
  {{/link-to}}
</div>
